<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio | By:Aarzav</title>

<!--Using TailWind CSS-->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-sans overflow-hidden">

<!--Head-->
    <header class="bg-black shadow-md">
       
        <div class="container mx-auto py-4 px-6">
            <img src="content\logo.png" width="5" height="5">
            <h1 class="text-2xl text-white font-semibold">Login | Signup page</h1>
        </div>
    </header>

<!--Navigation Bar-->
    <nav class="bg-gray-500 text-white">
        <div class="container mx-auto py-2 px-6">
            <ul class="flex">
                <li><a href="#" class="rounded hover: bg-white text-black px-4 py-2 hover:text-gray-900">Home</a></li>
                <li><a href="#" class="px-4 py-2 hover:text-gray-900">About</a></li>
                <li><a href="#" class="px-4 py-2 hover:text-gray-900">Contact</a></li>
                <li><a href="#" class="px-4 py-2 hover:text-gray-900">Help</a></li>
            </ul>
        </div>
    </nav>

<!--Maal-->
        <main class="w-7/8">
            <section class="container mx-auto my-6 px-4">
                <h2 class="text-xl text-center font-semibold mb-4">Registration page</h2>
                <p class="text-gray-600 text-center"></p>
            </section>
        </main>
    </div>

<!--Footer-->
    <footer class="bg-gray-500 text-white py-6 fixed bottom-0 w-full">
        <div class="text-center block mb-4 px-4 py-2 rounded">
            <a href="Templates/data/Resume.pdf" download class="download-btn rounded hover: bg-white text-black px-4 py-2 hover:text-gray-900">Download Resume</a>
        </div>
        <div class="container mx-auto text-center">
            &copy; 2024 Project Showcase
        </div>
    </footer>

</body>
</html>
